<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Wiki IET</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-3">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/courses"
            >Courses <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item" *ngIf="isAuth" routerLinkActive="active">
          <a class="nav-link" routerLink="/mycourses">My Courses</a>
        </li>
        <li class="nav-item" *ngIf="isAuth" routerLinkActive="active">
          <a class="nav-link" routerLink="/teachers">Teachers</a>
        </li>
        <li
          class="nav-item"
          *ngIf="isAuth && isAdmin"
          routerLinkActive="active"
        >
          <a
            class="nav-link"
            routerLink="/admin-panel"
            tabindex="-1"
            aria-disabled="true"
            >Admin Panel</a
          >
        </li>
        <li *ngIf="!isAuth" class="nav-item dropdown" routerLinkActive="active">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="cursor: pointer;"
          >
            Login
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/login">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/signup">Sign Up</a>
          </div>
        </li>
        <li *ngIf="isAuth" class="nav-item" routerLinkActive="active">
          <a class="nav-link" (click)="logout()" style="cursor: pointer;"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
