<div class="container mt-5">
  <div class="row ">
    <div class="col-4 mt-5">
      <img
        src="{{ teacher.imageUrl }}"
        alt=""
        class="img-fluid"
        style="border-radius: 5px;"
      />
    </div>
    <div class="col-8 mt-5">
      <p class="lead text-center display-4">
        {{ teacher.name }} {{ teacher.surname }}
      </p>
      <div class="row text-center mt-4">
        <div class="col-4">
          <p class="lead ">
            Telephone: <br />
            {{ teacher.telephone }}
          </p>
        </div>
        <div class="col-4">
          <p class="lead">E-mail: <br />{{ teacher.mail }}</p>
        </div>
        <div class="col-4">
          <p class="lead">
            Personal page: <br />
            <a
              href="{{ teacher.personalPage }}"
              rel="noopener noreferrer"
              target="_blank"
              >Link</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
