<div class="container mt-5">
  <div class="row ">
    <div class="col-3 mt-5">
      <ul class="nav flex-column">
        <button class="btn btn-primary" (click)="adminmode()">
          Signup as Admin
        </button>
      </ul>
    </div>
    <div class="col-5 offset-2 mt-5">
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            id="tutor"
            ngModel
            name="tutor"
            class="form-check-input"
          /><label for="tutor" class="form-check-label">Teacher</label>
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!authForm.valid"
          >
            Signup
          </button>
        </div>
      </form>
      <p class="lead mt-3" *ngIf="error">{{ error }}</p>
    </div>
  </div>
</div>
