<div class="container mt-5">
  <div class="row ">
    <div class="col-6 offset-3 mt-4">
      <input
        [(ngModel)]="searchText"
        placeholder="Search for courses"
        class="form-control"
      />
    </div>
  </div>
</div>

<div class="container mt-2 mb-5">
  <div class="row ">
    <app-course
      class="col-3 mt-4"
      *ngFor="let course of courses | filter: searchText"
      [id]="course._id"
      [imageUrl]="course.imageUrl"
      [name]="course.name"
    ></app-course>
  </div>
</div>
