<div class="container ">
  <div class="jumbotron ">
    <div class="container col-lg-8 offset-lg-2  mt-5">
      <h1 class="display-4 pl-4 pl-md-0">
        {{ course.name }}
      </h1>
      <p class="lead p-4 p-md-0" id="text-header">
        {{ course.description }}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row  my-4">
    <div class="col-4">
      <p class="lead">Course Details</p>
    </div>
    <div class="col-4">
      <p class="lead">ECTS: {{ course.ects }}</p>
      <p class="lead">Semester: {{ course.semester }}</p>
      <p class="lead">Type of course: {{ course.formOfCourse }}</p>
      <p class="lead">Rating: {{ course.grade }}</p>
      <p class="lead">Max Attendees: {{ course.max }}</p>
      <p class="lead">Current Attendees: {{ course.attendees }}</p>
      <p class="lead">Free places: {{ course.max - course.attendees }}</p>
    </div>
    <div class="col-4">
      <p class="lead">Teachers:</p>
      <p class="lead" *ngFor="let teacher of course.tutors">
        {{ teacher.name }} {{ teacher.surname }}
      </p>
    </div>
  </div>

  <h1 class="lead display-4">Comments</h1>
  <div class="scrollbar scrollbar-primary mt-3">
    <div class="force-overflow">
      <!--  -->
      <div
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        *ngFor="let comment of course.comments"
      >
        <div class="toast-header">
          <strong class="mr-auto">{{ comment.email }}</strong>
        </div>
        <div class="toast-body">
          {{ comment.comment }}
        </div>
      </div>
      <!--  -->
    </div>
  </div>
  <!-- <h1 class="lead ">Add comment</h1>
  <form [formGroup]="commentForm" class="mb-4" (ngSubmit)="onSubmit()">
    <div class="form-group ">
      <textarea
        type="text"
        id="com"
        formControlName="comment"
        class="form-control"
        rows="4"
      ></textarea>
    </div>
    <button
      class="btn btn-warning mb-4 float-right px-5"
      type="submit"
      [disabled]="!commentForm.valid"
    >
      ADD
    </button>
  </form> -->
</div>
