<div class="container ">
  <div class="jumbotron ">
    <div class="container col-lg-8 offset-lg-2  mt-5">
      <h1 class="display-4 pl-4 pl-md-0">
        {{ course.name }}
      </h1>
      <p class="lead p-4 p-md-0" id="text-header">
        {{ course.description }}
      </p>
    </div>
  </div>
</div>
<div class="container" *ngIf="rate">
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3">Your Rate: {{ rate }}</div>
  </div>
</div>
<div class="container">
  <div class="row ">
    <div class="col-5 ">
      <h1 class="lead display-4 ml-0">Rate this course</h1>
    </div>
    <div class="col-7 text-right">
      <div class="rating">
        <input type="radio" id="star10" name="rating" value="10" /><label
          for="star10"
          title="10"
          (click)="rateCourse(10)"
          >5 stars</label
        >
        <input type="radio" id="star9" name="rating" value="9" /><label
          for="star9"
          title="9"
          (click)="rateCourse(9)"
          >4 stars</label
        >
        <input type="radio" id="star8" name="rating" value="8" /><label
          for="star8"
          title="8"
          (click)="rateCourse(8)"
          >3 stars</label
        >
        <input type="radio" id="star7" name="rating" value="7" /><label
          for="star7"
          title="7"
          (click)="rateCourse(7)"
          >2 stars</label
        >
        <input type="radio" id="star6" name="rating" value="6" /><label
          for="star6"
          title="6"
          (click)="rateCourse(6)"
          >1 star</label
        >
        <input type="radio" id="star5" name="rating" value="5" /><label
          for="star5"
          title="5"
          (click)="rateCourse(5)"
          >5 stars</label
        >
        <input type="radio" id="star4" name="rating" value="4" /><label
          for="star4"
          title="4"
          (click)="rateCourse(4)"
          >4 stars</label
        >
        <input type="radio" id="star3" name="rating" value="3" /><label
          for="star3"
          title="3"
          (click)="rateCourse(3)"
          >3 stars</label
        >
        <input type="radio" id="star2" name="rating" value="2" /><label
          for="star2"
          title="2"
          (click)="rateCourse(2)"
          >2 stars</label
        >
        <input type="radio" id="star1" name="rating" value="1" /><label
          for="star1"
          title="1"
          (click)="rateCourse(1)"
          >1 star</label
        >
      </div>
    </div>
  </div>

  <div class="row  my-4">
    <div class="col-4">
      <p class="lead">Course Details</p>
    </div>
    <div class="col-4">
      <p class="lead">ECTS: {{ course.ects }}</p>
      <p class="lead">Semester: {{ course.semester }}</p>
      <p class="lead">Type of course: {{ course.formOfCourse }}</p>
      <p class="lead">Rating: {{ course.grade }}</p>
    </div>
    <div class="col-4">
      <p class="lead">Techers:</p>
      <p class="lead" *ngFor="let teacher of course.tutors">
        {{ teacher.name }} {{ teacher.surname }}
      </p>
    </div>
  </div>

  <h1 class="lead display-4">Comments</h1>
  <div class="scrollbar scrollbar-primary mt-3">
    <div class="force-overflow">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa quidem
      architecto quia porro, unde ab ea, recusandae, aliquam quisquam voluptatum
      dolorum aut animi. Corporis vero natus magnam consequatur saepe eos? Rerum
      veniam nulla vel quae sunt ratione autem deleniti aperiam magni ipsum
      atque aliquid sequi officiis, rem odit eos dolorum exercitationem
      necessitatibus voluptate recusandae laboriosam ipsa repellendus quibusdam
      neque! Eos. Voluptatem id, possimus modi officia ipsum enim aperiam
      repellat provident eaque expedita aliquam dolorum ipsam obcaecati sequi
      nulla, unde optio at eum. Vitae, ea eligendi nihil eos accusamus atque
      dicta. Odit omnis nostrum sint optio nobis. Dolor aut odit corporis nobis
      ad facere earum vel ducimus possimus iste nisi quo assumenda, adipisci
      similique cum rem modi, eveniet temporibus dolorum ex. Rem sunt autem
      expedita accusamus possimus itaque provident, minima, at consequatur
      praesentium, illum accusantium assumenda voluptatum aperiam. Dolorum quod
      assumenda nulla hic voluptates, optio accusantium perspiciatis, sunt iure
      laboriosam repellendus. Porro, excepturi. Veritatis quisquam eos commodi
      numquam cupiditate, hic laudantium officia. Voluptatibus ipsam quis
      cupiditate nobis odio ipsa unde at tempore, aut libero praesentium
      perspiciatis excepturi, voluptate eum optio. Natus? Sit perferendis
      dolores unde vero ullam magni dolorum inventore fuga expedita, cum
      mollitia nihil! Enim, nihil! Temporibus, corrupti quos. Perspiciatis est
      aliquid assumenda rerum totam nulla nihil ipsam nisi dignissimos? Dolores,
      accusamus. Rem culpa officiis dolor veniam dolorem quod hic, repellat iure
      impedit iusto, sint blanditiis fuga accusamus dolores, consequuntur at
      repellendus laboriosam nam ipsam dolore magnam. Accusamus, facere labore?
      Aut quae, distinctio harum, quasi id quod ipsam sunt amet cum similique
      pariatur ex voluptatum voluptatem reprehenderit eos unde nihil! Nihil quis
      aliquid quasi maxime ex beatae doloribus animi magnam. Quaerat quas esse
      sequi voluptas aliquam voluptatum sit, nihil ipsum dolorem voluptate illo
      ratione enim laboriosam quis placeat ad ab commodi culpa voluptatibus ut
      architecto repudiandae! Aliquid placeat enim labore.
    </div>
  </div>
</div>
